:root {
    --black-01: rgb(0, 0, 0);
    --black-02: rgb(34, 34, 34);
    --black-03: rgb(48, 48, 48);
    --white-01: rgb(255, 255, 255);
    --white-02: rgb(231, 231, 231);
    --white-03: rgb(204, 204, 204);
    --purple-01: rgb(108, 14, 170);
    --purple-02: rgb(98, 11, 156);
}

* { 
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.content-main {
    width: 100vw;
    height: 100vh;
    background-color: var(--purple-01);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-left {
    width: 40vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-text {
    display: flex;
    flex-direction: row;
    gap: 18px;
    align-items: center;
}

.content-text i {
    color: var(--white-01);
    font-size: 35px;
}

.content-text h1 {
    color: var(--white-01);
    font-size: 42px;
}

.content-text h1::after {
    content: "";
    display: flex;
    width: 35%;
    height: 3px;
    margin-left: 65%;
    margin-top: 2px;
    border-radius: 20px;
    background-color: var(--white-02);
}

.content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 100vh;
    background-color: var(--white-01);
}

.content-right .form-box {
    width: 37%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
}

.content-right .form-box .title-text-login {
    color: var(--black-02);
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.content-right .form-box form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-right .form-box .input-box-email {
    display: flex;
    right: 100%;
    background-color: var(--white-02);
    border-radius: 5px;
}

.content-right .form-box .input-box-email input {
    outline: none;
    border: none;
    font-size: 15px;
    width: 100%;
    background-color: transparent;
    padding: 30px;
    padding-left: 55px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: ease 0.3s;
    font-size: 16px;
}

.content-right .form-box .input-box-email input::placeholder {
    font-size: 16px;
}

.content-right .form-box .input-box-email input:focus {
    border-color: var(--purple-01);
}

.content-right .form-box .input-box-email input:-webkit-autofill, input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--black-01);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 20px 20px 20px 20px var(--white-02);
}

.content-right .form-box .input-box-email span {
    position: relative;
}

.content-right .form-box .input-box-email span i {
    font-size: 20px;
    color: var(--black-02);
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-0%, -50%);
}

.content-right .form-box .input-box-password {
    display: flex;
    right: 100%;
    background-color: var(--white-02);
    border-radius: 5px;
}

.content-right .form-box .input-box-password input {
    outline: none;
    border: none;
    font-size: 15px;
    width: 100%;
    background-color: transparent;
    padding: 30px;
    padding-left: 55px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: ease 0.3s;
    font-size: 16px;
}

.content-right .form-box .input-box-password input::placeholder {
    font-size: 16px;
}

.content-right .form-box .input-box-password input:focus {
    border-color: var(--purple-01);
}

.content-right .form-box .input-box-password span {
    position: relative;
}

.content-right .form-box .remember {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 15px 15px;
    font-size: 15px;
    margin-bottom: 10px;
}

.content-right .form-box .input-box-password span i {
    font-size: 20px;
    color: var(--black-02);
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-0%, -50%);
}

.content-right .form-box .remember .remember-input-check {
    display: flex;
    align-items: center;
    gap: 3px;
}

.content-right .form-box .remember .remember-input-check input[type="checkbox"] {
    display: flex;
    appearance: none;
    border: 1px solid var(--purple-01);
    border-radius: 3px;
    width: 15px;
    height: 15px;
    align-items: center;
    justify-content: center;
}

.content-right .form-box .remember .remember-input-check input[type="checkbox"]:checked {
    background-color: var(--purple-01);
}

.content-right .form-box .remember .remember-input-check input[type="checkbox"]:checked::before {
    content: "✔";
    color: var(--white-01);
    font-size: 12px;
}

.content-right .form-box .remember a {
    color: var(--black-02);
    text-decoration: none;
}

.content-right .form-box .remember a:hover {
    color: var(--purple-01);
}

.content-right .form-box .input-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple-01);
    border-radius: 5px;
    margin-bottom: 10px;
}

.content-right .form-box .input-btn:hover {
    background-color: var(--purple-02);
}

.content-right .form-box .input-btn input {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 15px 0px;
    cursor: pointer;
    font-size: 23px;
    color: var(--white-01);
}

.content-right .form-box .create-account {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}

.content-right .form-box .create-account a{
    color: var(--purple-01);
}

.content-right .form-box .create-account a:active {
    color: var(--black-02);
}

.content-right .form-box .content-separator {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 15px 0px;
}

.content-right .form-box .content-separator span {
    width: 40%;
    height: 1px;
    background-color: var(--white-03);
}


/*MEDIA QUERYS VVVV */



@media(max-width: 1600px) {

    .content-right .form-box {
        width: 40%;
    }

    .content-right .form-box .input-box-email input {
        padding: 20px;
        font-size: 14px;
        padding-left: 33px;
    }

    .content-right .form-box .input-box-email input::placeholder {
        font-size: 14px;
    }

    .content-right .form-box .input-box-password input {
        padding: 20px;
        font-size: 14px;
        padding-left: 33px;
    }

    .content-right .form-box .input-box-password input::placeholder {
        font-size: 14px;
    }

    .content-right .form-box .remember {
        font-size: 13px;
        margin-bottom: 0px;
    }

    .content-right .form-box .remember .remember-input-check input[type="checkbox"] {
        width: 13px;
        height: 13px;
    }

    .content-right .form-box .remember .remember-input-check input[type="checkbox"]:checked::before {
        font-size: 10px;
    }

    .content-right .form-box .input-btn input {
        font-size: 20px;
    }

    .content-right .form-box .create-account {
        font-size: 16px;
    }

    .content-right .form-box .input-box-email span i {
        font-size: 16px;
        left: 10px;
    }

    .content-right .form-box .input-box-password span i {
        font-size: 16px;
        left: 10px;
    }

    .content-text i {
        font-size: 32px;
    }

    .content-text h1 {
        font-size: 39px;
    }
}

@media(max-width: 1200px) {
    .content-right .form-box {
        width: 50%;
    }
}

@media(max-width: 1000px) {
    .content-main {
        flex-direction: column;
    }

    .content-left {
        width: 100vw;
        height: 40vh;
    }

    .content-right {
        width: 100vw;
        height: 60vh;
    }

    .content-right .form-box {
        width: 40%;
        margin-top: 50px;
    }
}

@media(max-width: 750px) {
    .content-right .form-box {
        width: 50%;
    }
}

@media(max-width: 600px) {
    .content-right .form-box {
        width: 60%;
    }
}

@media(max-width: 480px) {
    .content-right .form-box {
        width: 70%;
    }
}

@media(max-width: 380px) {
    .content-right .form-box {
        width: 80%;
    }
}